{% extends "base.html" %}

{% block title %}MusicMate{% endblock %}

{% block content %}
<div class="custom-container">
    <h2 class="text-header">Describe your day below!</h2>

    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="flash {{ category }} text-white text-center">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    
    <form method="POST" action="{{ url_for('match_the_day_info') }}">
        <!-- Updated label and input styling for modern look -->
        <label for="city" class="text-header">Enter your city/state:</label>
        <input type="text" class="styled-input modern-input" id="city" name="city" placeholder="Enter your city" required>
        <br>
        <label for="activity" class="text-header">Describe the activity that you are doing:</label>
        <br>
        <input type="text" class="styled-input modern-input" id="activity" name="activity" placeholder="Describe your activity" required>
        <br>
        <label for="genre" class="text-header">Select a genre:</label>
        <br>
        <select id="genre" class="modern-select" name="genre" required>
            {% for genre in genres %}
                <option value="{{ genre }}">{{ genre }}</option>
            {% endfor %}
        </select>
        <br>
        <input type="submit" value="Get Songs" class="btn-primary">
    </form>
    
</div>
{% endblock %}
