{% extends "base.html" %}

{% block title %}Select info to fetch songs{% endblock %}

{% block content %}
    <div class="custom-container">
    <h2 class= "text-header">Find a similar song!</h2>
    <form method="POST" action="{{ url_for('match_the_song_info') }}">
        <label for="city" class="text-header">Enter a song (Feel free to include artist):</label><br>
        <input type="text"  class="styled-input" id="song" name="song" placeholder="Enter song" required><br><br>
        <input type="submit" value="Get Songs">
    </form>
{% endblock %}