{% extends "base.html" %}

{% block title %}Matching Songs{% endblock %}

{% block content %}
<div class="scrollable-container">
    <h1 class ="text-header text-center top-pad">Here's what we found:</h1>

    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="flash {{ category }} text-white text-center">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    
    <div class="songs-grid">
        {% for key, song in songs.items() %}
            <div class="song-item">
                <img src="{{ song['album_cover'] }}" alt="Album cover for {{ song['album_name'] }}" class="album-cover">
                <div class="song-info">
                    <p>{{ song['song_name'] }} by {{ song['artist_name'] }}<br>
                    from the album {{ song['album_name'] }}</p>
                    <a href="{{ song['song_link'] }}" target="_blank" class="btn-primary">Listen on Spotify</a>
                    <form class="save-song-form" data-song-id="{{ key }}" action="{{ url_for('song_matches') }}" method="POST">
                        <input type="hidden" name="song_index" value="{{ key }}">
                        <input type="hidden" name="song_name" value="{{ song['song_name'] }}">
                        <input type="hidden" name="artist_name" value="{{ song['artist_name'] }}">
                        <input type="hidden" name="album_name" value="{{ song['album_name'] }}">
                        <input type="hidden" name="album_cover" value="{{ song['album_cover'] }}">
                        <input type="hidden" name="song_link" value="{{ song['song_link'] }}">
                        <input type="hidden" name="uri" value="{{ song['uri'] }}">
                        <button type="submit" class="btn btn-primary save-song-button">Save Song</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="custom-container">
    {% if mood %}

    
        <a href="#" onclick="location.reload(); return false;" class="btn-primary">Load more songs</a>
        <a href="{{ url_for('match_the_mood_info') }}" class="btn-primary">Change the parameters</a>
        
    {% elif activity and city and weather_stats %}
    
        <a href="#" onclick="location.reload(); return false;" class="btn-primary">Load more songs</a>
        <a href="{{ url_for('match_the_day_info') }}" class="btn-primary">Change the parameters</a>
    
    {% elif original_song %}
    
        <a href="#" onclick="location.reload(); return false;" class="btn-primary">Load more songs</a>
        <a href="{{ url_for('match_the_song_info') }}"class="btn-primary">Change the parameters</a>
    
    {% endif %}

    
    <a href="{{ url_for('saved_songs') }}" class="btn-primary text-center">View Saved Songs</a>
    
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelectorAll('.save-song-form').forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    event.preventDefault();
                    const songId = form.dataset.songId;
                    const button = form.querySelector('.save-song-button');
                    
                    fetch(form.action, {
                        method: form.method,
                        body: new FormData(form),
                        headers: {
                            'X-Requested-With': 'XMLHttpRequest'
                        }
                    }).then(response => response.json()).then(data => {
                        if (data.status === 'success') {
                            button.textContent = 'Song Saved';
                            button.disabled = true;
                        } else {
                            alert(data.message);
                        }
                    }).catch(error => {
                        console.error('Error:', error);
                        alert('An error occurred. Please try again.');
                    });
                });
            });
        });
    </script>
</div>
{% endblock %}
